# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore
*.apk

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.tmp
*.bak

# Logs
*.log
log*.txt

# Test
coverage/
